{% extends 'base.html' %}

{% block content %}

<div class="list-group">
  {% for post in posts %}
  <a href="{% url 'post_detail' post.pk %}" class="list-group-item list-group-item-action">{{post.title}} by <b>{{ post.author }}</b></a>
  {% endfor %}
</div>

<!-- {% for post in posts %}
<div class="card mb-3">
  <div class="card-body">
    <a href="{% url 'post_detail' post.pk %}">
      <h5 class="card-title">{{post.title}}</h5>
    </a>
    <p class="card-text">{{post.author}}</p>
  </div>
</div>
{% endfor %} -->

{% endblock %}