{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="mb-0 gray_font" style = 'font-size: 14px;'>by {{ post.author }}<p>
    <p class="gray_font" style = 'font-size: 12px;'>{{ post.created_at }}</p> 
    <p class=" card-text">{{ post.body }}</p>
    <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Edit post</a>
    <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete post</a>
  </div>
</div>
{% endblock %}

{% block js %}
<script> </script>
{% endblock %}